{{ define "head" }}
	<style>
		html, body {
			height: 100%;
		}

		body {
			display: flex;
			align-items: center;
			padding-top: 40px;
			padding-bottom: 40px;
		}

		#change-password-form {
			max-width: 330px;
		}
	</style>
{{ end }}

{{ define "main" }}
	<div id="change-password-form" class="w-100 p-1 m-auto">
		<form action="/" method="post">
			<h1 class="text-center h3 mb-3 font-weight-normal">Changer de mot de passe</h1>
			
			<div class="mb-3">
				<label for="old-password-input" class="form-label">Mot de passe actuel</label>
				<input type="password" id="old-password-input" name="old-password" class="form-control form-control-lg" placeholder="Mot de passe" required>
			</div>

			<div class="mb-3">
				<label for="password-input" class="form-label">Nouveau mot de passe</label>
				<input type="password" id="password-input" name="password" class="form-control form-control-lg" placeholder="Mot de passe" required>
			</div>

			<div class="mb-3">
				<label for="password-verification-input" class="form-label">Vérification du nouveau mot de passe</label>
				<input type="password" id="password-verification-input" name="password-verification" class="form-control form-control-lg" placeholder="Mot de passe" required>
			</div>

			<button class="btn btn-lg btn-primary btn-block" type="submit">Envoyer</button>
		</form>
	</div>
{{ end }}
